* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.header{
	width:100%;
	display:flex;
	justify-content:space-between;

}
.Quickcash{
	margin-left:60px;
	display:flex;
}
nav{
	width:30%;
	padding:10px;
	display:flex;
	justify-content:space-between;
	margin:0 0 0 40px;
}
.menu{
	display: none;
}
.header__title{
	color:#0083CA;
	font-family:Montserrat, Bold
}
img{
	height:30px;
}
.navlink{
	color:#EE3325; 
}
@media (max-width: 768px){
	nav{
		display: none;
	}
}
.imagen{
	height:100vh;
	background-size:cover;
	background-image:url(assets/mlh.jpg); 
	padding-top: 200px; 
	position: relative;
}
.imagen:after{
	content:"";
	position: absolute;
	width: 100%;
	top:34%;
	left:0;
	min-height:66%;
	background:linear-gradient(to bottom,rgba(0,131,202,.0)40%,rgba(0,131,202,.62)100%, #0083ca 90%,#0083ca 100%);
}
.text{
	width:20vw;
	color:white;
	display:flex;
	margin-left: 7%;
}

.textimage{
	font-size:40px;
}
@media(max-width: 1024px){     
	.imagen{
		height:70vh;
	}
	.text{
		width:36vw;
	}
 }
@media(max-width: 985px){
	.imagen{
		height:75vh;
		padding:126px;
		padding-left:0px;
	}
	.text{
		width:30vw;

	}
	.textimage{
		font-size:39px;
		padding-bottom:
	}
}
@media(max-width: 848px){
	.imagen{
		height:50vw;
		padding:130px;
		padding-left:0px

	}
	.text{                      
		width:28vw;
		/*padding:170px 130px 0  0;*/
		
		 }
	.textimage{
		font-size:40px;
		padding-bottom:40px;
	}
}
@media(max-width: 768px){
	.imagen{
		height:50vw;
		padding:130px;
		padding-left:0px;
		

	}
	.text{                      
		width:30vw;
		/*padding:170px 130px 0  0;*/
		
		 }
	.textimage{
		font-size:30px;
		/*padding-bottom:40px;*/


}

@media (max-width: 768px){
	.menu {
		display: block;
		color:red;
		font-family: Montserrat, ExtraLight;
		padding-right:40px;
		font-size:30px;
	}
}
@media(max-width: 600px){
	.imagen{
		padding:92px;
		padding-left:0;

	}
	.text{
		width:30vw;
	}
	.textimage{
		font-size:26px;
	}
}
@media(max-width:500px){
	.imagen{
		display:flex;
		justify-content:center;
		padding:
	}
}