* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
header{
	width:100%;
	display:flex;
	justify-content:space-between;
}
nav{
	width:30%;
	display:flex;
	margin:0 0 0 40px;

}
.header__title{
	color:#0083CA;
}
.navlink{
	color:#EE3325; 
}
.imagen{
	height:100vh;
	background-size:cover;
	background-image:url(assets/mlh.jpg); 
}
.text{
	width:35vw;
	color:white;
	display:flex;
	align-items:center;
}
.textimage{
	font-size:60px;
	margin-top:100px;
}
.agency{
	display: flex;
	justify-content: space-around;
	padding: 50px 0 50px 0; 
	background-color: #F8F8F8;
}
@media screen and (max-width: 768px){
		.agency{
			flex-wrap: wrap;
		}
}
.agency__title{
	width:350px;
	font-size:35px;
	font-weight: bold;
	color:#EE3325;
	font-family:'Montserrat', sans-serif;
}
.agency__form{
	width: 200px;
	color:#6B6B6B;
}
.agency__label{
	font-size: 17px;
	font-weight:bold;
	font-family: 'Montserrat', sans-serif;
}